@font-face {
  font-family: myFirstFont;
  src: url(./fonts/sansation/Sansation_Light.ttf) format('ttf');
  font-style: normal;
  font-weight: 100;
}

#heading {
	font-family: 'myFirstFont';
	font-weight: 100;
	color: #36ff33;
}